<footer>
    <p><strong>BarberFlow</strong></p>
    <p>© 2026 BarberFlow - Todos os direitos reservados</p>

    <nav class="footer-links">
        <a href="#">Início da Página</a>
        <a href="/comum/termos">Termos de uso</a>
        <a href="/comum/privacidade">Política de privacidade</a>
        <a href="/comum/acessibilidade">Declaração de acessibilidade</a>
        <a href="/comum/suporte">Suporte</a>
    </nav>
</footer>