<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BarberFlow</title>

    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/darkmode.js" defer></script>
</head>