<!DOCTYPE html>
<html lang="pt-BR">

<%- include('../partials/header') %>

<body>

    <%- include('../partials/navbar_cliente') %>

    <main aria-label="Tutorial do cliente">

        <section aria-label="Introdução ao tutorial">
            <h2>Como usar o BarberFlow</h2>
            <p>Siga o passo a passo abaixo para aprender o que é cada parte do site, configurar e usar o sistema.</p>
        </section>

        <section aria-label="Etapa 1 do tutorial">
            <h2>Etapa 1 — <span>Dashboard</span></h2>
            <p>Aqui você pode ver o seu próximo agendamento e o seu histórico.</p>
            <img
                src="/img/tutorial/etapa1cliente.png"
                alt="Print da tela referente à etapa 1"
                width="800"
            >
        </section>

        <section aria-label="Etapa 2 do tutorial">
            <h2>Etapa 2 — <span>Agendamento</span></h2>
            <p>Aqui você pesquisará sua barbearia e escolherá o serviço, o dia e a forma de pagamento.</p>
            <img
                src="/img/tutorial/etapa2cliente.png"
                alt="Print da tela referente à etapa 2"
                width="800"
            >
        </section>

        <section aria-label="Etapa 3 do tutorial">
            <h2>Etapa 3 — <span>Perfil</span></h2>
            <p>Aqui você edita seus dados pessoais e altera a senha.</p>
            <img
                src="/img/tutorial/etapa3cliente.png"
                alt="Print da tela referente à etapa 3"
                width="800"
            >
        </section>

        <section aria-label="Etapa 4 do tutorial">
            <h2>Etapa 4 — <span>Conta</span></h2>
            <p>Aqui você pode sair de sua conta ou excluir.</p>
            <img
                src="/img/tutorial/etapa4cliente.png"
                alt="Print da tela referente à etapa 4"
                width="800"
            >
        </section>

        <section aria-label="Etapa 5 do tutorial">
            <h2>Etapa 5 — <span>Modo noturno</span></h2>
            <p>No canto superior esquerdo você pode ativar o modo escuro do site.</p>
            <img
                src="/img/tutorial/etapa5cliente.png"
                alt="Print da tela referente à etapa 5"
                width="800"
            >
        </section>

        <section aria-label="Finalizar tutorial">
            <p>Pronto! Agora você já sabe como usar o BarberFlow.</p>
            <a class="botao" href="/cliente/agendar" 
            aria-label="Ir para a página de agendamento">Fazer meu agendamento</a>
            <a class="botao" href="/cliente/dashboard_cliente" 
            aria-label="Ir para o dashboard">Voltar para o Dashboard</a>
        </section>

    </main>

    <%- include('../partials/footer') %>

</body>
</html>